            *{
                 box-sizing: border-box;
                margin: 0;
                padding: 0;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            body{
                display:flex;
                height:100vh;
                background-color: aliceblue;
                flex-direction: column;
            }
            main{
                flex: 1;
                display: flex;
                justify-content: space-between;
            }
            aside{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background-color: blue;
                width: 20%;
            }
            section{
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
            }
            header{
                background-color: blueviolet;
                color: white;
                display: flex;
                justify-content: space-between;
                padding: 20px;
            }
            nav{
                display: flex;
                justify-content: space-around;
                background-color: rgb(10, 86, 153);
                padding: 10px;
            }
            a{
                color: white;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }
            footer{
                background-color: black;
                color: white;
                text-align: center;
                padding: 10px;
            }

            @media screen and (max-width: 700px){
                header, nav, main{
                flex-direction: column;
            }
            aside{
                width: 100vw;
            }
        }